<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="userDao" class="com.kaishengit.spring.dao.UserDao" scope="singleton"/>
    <bean id="bookDao" class="com.kaishengit.spring.dao.BookDao"/>
    <bean id="userService" class="com.kaishengit.spring.service.UserService" autowire="constructor"/>
       <!-- <constructor-arg name="bookDao" ref="bookDao"/>
        <constructor-arg name="userDao" ref="userDao"/>-->

    <!--<bean id="userService" class="com.kaishengit.spring.service.UserService">
        &lt;!&ndash;构造方法注入&ndash;&gt;
        <constructor-arg name="bookDao" ref="bookDao"/>
        <constructor-arg name="userDao" ref="userDao"/>-->

        <!--<constructor-arg index="0" ref="bookDao"/>
        <constructor-arg index="1" ref="userDao"/>-->

       <!-- <constructor-arg type="com.kaishengit.spring.dao.IuserDao" ref="userDao"/>
        <constructor-arg type="com.kaishengit.spring.dao.BookDao" ref="bookDao"/>-->
        <!--<constructor-arg type="java.lang.String" value="jack"/>
        <constructor-arg type="java.util.List">
            <list>
                <value>aa</value>
                <value>bb</value>
            </list>
        </constructor-arg>
-->

        <!--set 注入-->
       <!-- <property name="userDao" ref="userDao"/>-->
        <!--<property name="userDao">
            <ref bean="userDao"/>
        </property>-->
      <!--  <property name="userDao">
            <bean class="com.kaishengit.spring.dao.UserDao"/>
        </property>-->
   <!-- </bean>-->





    <bean id="demoDao" class="com.kaishengit.spring.dao.DemoDao">
        <property name="port" value="3306"/>
        <property name="name" value="jack"/>
        <property name="list">
            <list>
                <value>x</value>
                <value>y</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>aa</value>
                <value>bb</value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="x1" value="y1"/>
                <entry key="x2" value="y2"/>
            </map>
        </property>
        <property name="prop">
            <props>
                <prop key="a1">b1</prop>
                <prop key="a2">b2</prop>
            </props>
        </property>
    </bean>




</beans>